<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
        crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles/styleFactura.css"/>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <title>Tecnimecanica Hermanos</title>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
            <img src="images/logoColegio.png" class="card-img-top"
                 alt="...">
        </a>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a th:href="@{/GestionarClientes}"><i class="fas fa-user"></i>Clientes</a></li>
            <li><a th:href="@{/GestionarEmpleados}"><i class="fas fa-address-card"></i>Empleados</a></li>
            <li><a th:href="@{/GestionarVehiculos}"><i class="fas fa-car"></i>Vehiculos</a></li>
            <li><a th:href="@{/GestionarServicios}"><i class="fas fa-wrench"></i>Servicios</a></li>
            <li><a th:href="@{/GestionarRepuestos}" ><i class="fas fa-cogs"></i>Repuestos</a></li>
            <li><a th:href="@{/GestionarOrdenes}"><i class="fas fa-file-invoice-dollar"></i>Ordenes</a></li>
        </ul>
        <div class="social_media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="main_content">
        <div class="header">Modificar Orden</div>
        <div class="info">
            <div class="container-fluid mt-100 mb-100">
                <div id="ui-view">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <form th:action="@{/ActualizarOrden(ido,pl,dn,fc,ct,idr)}">
                                    <div class="mb-4 mt-4">
                                        <label id="orden"><strong>Id Orden</strong></label>
                                        <input class="form-control" id="ido" name="ido"
                                               th:value="${ordene.id_orden}" th:placeholder="${ordene.id_orden}"
                                               readonly>
                                    </div>
                                    <div class="mb-4 mt-4">
                                        <label id="fecha"><strong>Fecha orden</strong></label>
                                        <input class="form-control" id="fc" name="fc"
                                               th:value="${ordene.fecha_orden}" th:placeholder="${ordene.fecha_orden}" readonly>
                                    </div>

                                    <div class="mb-4 mt-4">
                                        <label id="placa"><strong>Placa del Vehiculo</strong></label>
                                        <input class="form-control" id="pl" name="pl"
                                               th:value="${ordene.placa.placa}" th:placeholder="${ordene.placa.placa}" readonly>
                                    </div>

                                    <div class="mb-4 mt-4">
                                        <label id="diag"><strong>Diagnostico</strong></label>
                                        <input class="form-control" id="dn" name="dn"
                                               th:value="${ordene.diagnostico}"
                                               th:placeholder="${ordene.diagnostico}">
                                    </div>

                                    <div class="mb-4 mt-4">
                                        <label id="costo"><strong>Costo Total</strong></label>
                                        <input class="form-control" id="ct" name="ct"
                                               th:value="${ordene.costo_total}"
                                               th:placeholder="${ordene.costo_total}" readonly>
                                    </div>
                                    <div class="mb-4 mt-4">
                                        <label id="marca"><strong>Mecanico Encargado</strong></label>
                                        <input class="form-control" id="idr" name="idr"
                                               th:value="${ordene.id_empleado.nombres}"
                                               th:placeholder="${ordene.id_empleado.nombres}" readonly>
                                    </div>
                                    <div class="container-fluid-1">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                        <button type="button" class="btn btn-primary">
                                            <a th:href="@{/GestionarOrdenes}" class="btn-primary">Cancelar</a>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>